/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Georgia', Arial, sans-serif;
}

/* background */
body {
    background-color: #fdf5e6;
    margin: 0;
}

